<section class="css-grid">
    <article class="css-grid-content">
        <h2>Cascading Style Sheets</h2>
        <p class="card-hairline">CSS is the language used to describe the presentation and layout of HTML elements on a web page.</p>
        <br />
        <div class="card">
            <h3>Key Features of CSS:</h3>
            <ul>
                <li>Cascading: Styles are applied in order of importance — inline &gt; internal &gt; external.</li>
                <li>Selectors: Target specific HTML elements (.class, #id, div, input[type="text"], etc.)</li>
                <li>Responsiveness: Media queries help adjust layout for different devices (mobile, tablet, desktop).</li>
                <li>Separation of Concerns: Keeps content (HTML) separate from style (CSS).</li>
            </ul>
        </div>
    </article>
    <aside class="right-panel">
        <h4>CSS Topics...</h4>
        <ul class="right-panel-list">
            <li><a routerLink="JustifyContentExamples">Flexbox: Justify Content</a></li>
            <li><a routerLink="GridRAMPattern">Grid: RAM [ Repeat Auto MinMax ]</a></li>
            <li><a routerLink="GridTemplateAreas">Grid: Template Areas</a></li>
            <li><a routerLink="GridFullBleed">Grid: Full Bleed</a></li>
            <li><a routerLink="CSSFunctionMIN">CSS function: min()</a></li>
            <li><a routerLink="CSSGridColumn">CSS Grid-Column</a></li>
        </ul>
    </aside>
</section>