<section class="css-grid">
    <article class="css-grid-content">
        <h2>Cascading Style Sheets</h2>
        <p>CSS is the language used to describe the presentation and layout of HTML elements on a web page.</p>
        <h3>Key Features of CSS:</h3>
        <ul>
            <li>Cascading: Styles are applied in order of importance — inline &gt; internal &gt; external.</li>
            <li>Selectors: Target specific HTML elements (.class, #id, div, input[type="text"], etc.)</li>
            <li>Responsiveness: Media queries help adjust layout for different devices (mobile, tablet, desktop).</li>
            <li>Separation of Concerns: Keeps content (HTML) separate from style (CSS).</li>
        </ul>
    </article>
    <aside class="right-panel">
        <h4>Topics...</h4>
        <ul>
            <li><a routerLink="JustifyContentExamples">Justify Content</a></li>
        </ul>
    </aside>
</section>