<section class="css-grid-content">
    <span><a routerLink="/css" routerLinkActive="active">Back</a></span>
    <h3>"grid-column" is the key to both : center align and capture the full available width</h3>
    <section class="grid-full-bleed-container">
        <h2>................................................. Block Heading .................................................</h2>

        <article class="full-bleed">
            ........................................................................................................................................................................ Block Full-width content ............................................................................................................................................
        </article>

        <p>..............................................===========............................................... More content ...............................................===========..................................................</p>

        <button>Click</button>
    </section>
    <pre><code> {{ cssCode }} </code></pre>
    <h4>We can apply same effect on 3 column grid</h4>
    <pre><code [innerHTML]="cssCode1"></code></pre>
    <h5>HTML:</h5>
    <pre><code> {{ htmlCode }} </code></pre>
</section>

