<!-- <div class="card">
  <h3>{{ product?.name }}</h3>
  <p>Price: ₹{{ product?.price }}</p>
  <button (click)="handleAddToCart()">Add to Cart</button>
</div> -->
<div class="container">
    <div class="product-list">
        <h4>Products from  @Input()</h4>
        <ul *ngIf="products.length > 0; else emptyList">
            <li *ngFor="let product of products">
                <div class="card">
                    <h3>{{ product?.name }}</h3>
                    <p>Price: ₹{{ product?.price }}</p>
                    <p>Child using EventEmitter to update Cart</p>
                    <button (click)="handleAddToCart(product)">Add to Cart</button>
                </div>
            </li>
        </ul>
        <ng-template #emptyList>
            <p>No products available</p>
        </ng-template>
    </div>
    <div class="product-list">
        <h4>Products from @Service</h4>
        <ul *ngIf="productsFromService.length > 0; else noProducts">
            <li *ngFor="let product of productsFromService">
                <div class="card">
                    <h3>{{ product?.name }}</h3>
                    <p>Price: ₹{{ product?.price }}</p>
                    <p>Child using EventEmitter to update Cart</p>
                    <button (click)="handleAddToCart(product)">Add to Cart</button>
                </div>
            </li>
        </ul>
        <ng-template #noProducts>
            <p>No products available</p>
        </ng-template>
    </div>
</div>