<app-header />
<!-- <label for="name">Name:</label>
<input type="text" id="name" [(ngModel)]="name" placeholder="Enter a name here" />
<p>Hello {{name}} !!</p> -->
<!-- <nav class="projects"><div>Projects :: </div> <div><a href="http://pramod.click/blog" target="_blank">Blog</a> <span class="pipe">|</span> CMS <span class="pipe">|</span> Data Analytics <span class="pipe">|</span> Learning</div></nav> -->
<main>
    <!-- <left-panel /> -->
    <section id="middlePanel" class="middle-panel">
        <router-outlet></router-outlet>
    </section>
    @defer {
        <!-- <right-panel /> -->
    } @placeholder {
        <p>Loading...</p>
    }    
</main>
<app-footer />