<header>
    <h1><a routerLink="/">{{title}}</a></h1>
    <nav>
        <a title="Pramod's Profile" href="http://pramod.click/">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
            </svg>
        </a>
        @for (n of navigation(); track n.link) {
            @if (isExternal(n.link)) {
                <!-- External Link: Use standard href -->
                <a [href]="n.link" target="_blank">
                {{ n.title }}
                </a>
            } @else {
                <!-- Internal Link: Use Angular Router -->
                <a [routerLink]="[n.link]"
                routerLinkActive="active"
                #rla="routerLinkActive"
                [attr.aria-current]="rla.isActive ? 'page' : null">
                {{ n.title }}
                </a>
            }
        }
        <!-- <div class="theme">Theme</div> -->
    </nav>
    <div class="header-search">
    <input
        class="main-search-input"
        type="search"
        placeholder="Search Here..."
        [formControl]="searchControl"
    />
    </div>
</header>