<a routerLink="/javascript">Back</a>
<h3>Higher-order functions</h3>
<p>Takes another function as an argument or returns another function as its result to make the code more reusable and modular</p>
<h4>Useful Higher Order Functions:</h4>
<ul>
    <li>map</li>
    <li>filter</li>
    <li>reduce</li>
    <li>forEach</li>
    <li>find</li>
    <li>some</li>
    <li>every</li>
</ul>
<p>&nbsp;</p>
<h3>What will be the value of <small>forEachRes</small> and <small>sum</small> :</h3>
<pre><code [textContent]="codeSnippet1"></code></pre>

<h3>What will be the value of <small>filteredArray</small> and <small>originalArray</small> :</h3>
<pre><code [textContent]="codeSnippet2"></code></pre>
